<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">USUARIOS</h4>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-2">
                Seleccione las paginas a mostrar
                <select class="form-control" [(ngModel)]="paginas" name="paginas">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
              </div>
              <div class="col-md-8">
                 </div>
              <div class="col-md-2">
                <input [(ngModel)]="filtro" type="search" class="form-control input-sm" name="filtro"
                       placeholder="Buscar Registros"
                       aria-controls="datatables">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br>
                <button (click)="limpiar()" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="false"  data-target="#addUSers" >Nuevo Usuario</button>


                <div class="content table-responsive table-full-width">

                  <table id="tablausuarios" class="table table-hover table-striped">
                    <thead>
                    <tr>
                      <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="mostrar{{item.idUsuarios}}" *ngFor="let item of this.tableData1.dataRows|  filter:filtro  | paginate:{itemsPerPage:paginas,currentPage:pageActual} " (mouseenter)="saludar(item.idUsuarios)" (mouseleave)="ocultar(item.idUsuarios)">
                      <ng-container>
                        <td>{{item.idUsuarios}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.correo}}</td>
                        <td>
                          <select class="form-control" [(ngModel)]="item.rol" name="rol"  (change)="updateUser(item)">
                            <option value="1">SUPERADMINISTRADOR</option>
                            <option value="2">ADMINISTRADOR</option>
                            <option value="3">USUARIO</option>
                          </select>
                        </td>
                        <td  style="width: 6.5%">
                          <div style="display:none;" id="evento{{item.idUsuarios}}">
                          <span data-toggle="modal" data-backdrop="false"  data-target="#addUSers" (click)="loadUser(item.idUsuarios)" style="color: Dodgerblue;">
                          <i class="fa fa-2x fa-user-edit"></i>
                          </span>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <span hidden data-toggle="modal" data-backdrop="false"  data-target="#delete" (click)="deletedId = item.idUsuarios" style="color: Tomato;">
                           <i class="fas fa-2x fa-user-times"></i>
                          </span>
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                    </tbody>
                  </table>
                  <pagination-controls *ngIf="paginador ==='true'"
                                       (pageChange)="pageActual = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" style="background-color: rgba(0,0,0,0.7);" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">USUARIO</h4>
      </div>
      <div class="modal-body">
        <label  class="col-form-label">ESTA SEGURO DE QUE DESEA ELIMINAR EL USUARIO?</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-fill"  data-dismiss="modal" (click)="deleteUser()">ELIMINAR</button>
        <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>


<!--AGREGAR USUARIOS NUEVOS-->
<div class="modal fade" style="background-color: rgba(0,0,0,0.7);" id="addUSers"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">USUARIO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="addUser()">
          <div class="row">
          <div class="form-group col-md-3">
            <div  class="checkbox"><input name="theCheckbox" formControlName="check" [(ngModel)]="theCheckbox" data-md-icheck (change)="toggleVisibility($event)" id="checkbox1" type="checkbox"><label  for="checkbox1"></label></div>
            <span class="checkmark"></span>
            <span *ngIf="marked">Es extranjero</span><span *ngIf="!marked">No es extranjero</span>
          </div>
          <div class="form-group col-md-4" >
            <label  class="col-form-label">ID BIOMÉTRICO</label>
            <input type="text" minlength="" maxlength="4"
                   onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
                   name="idBio" class="form-control" formControlName="idUsuarios" [(ngModel)]="newUSer.idBio"
                   placeholder="ID">
            <div *ngIf="idUsuarios.invalid &&(idUsuarios.dirty || idUsuarios.touched)">
              <div class="text-danger">el Id es requerido</div>
            </div>
          </div>
          <div class="form-group col-md-5">
            <label class="col-form-label">CÉDULA</label>
            <input type="text" minlength="10" maxlength="10"
                   onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" name="cedula"
                   class="form-control" formControlName="cedula" [(ngModel)]="newUSer.cedula"
                   placeholder="1751031442">
            <div *ngIf="cedula.invalid &&(cedula.dirty || cedula.touched)">
              <div class="text-danger">la cédula es requerido</div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="col-form-label">NOMBRES COMPLETOS</label>
            <input type="text" (keyup)="mayus()"
                   name="nombre" class="form-control" formControlName="nombre" [(ngModel)]="newUSer.nombre"
                   placeholder="SANTIAGO JAVIER SANCHEZ MENDOZA">
            <div *ngIf="nombre.invalid &&(nombre.dirty || nombre.touched)">
              <div class="text-danger">el nombre es requerido</div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="col-form-label">EMAIL</label>
            <input type="email" name="correo" class="form-control" formControlName="correo"
                   [(ngModel)]="newUSer.correo"
                   placeholder="ssanchez@yavirac.edu.ec">
            <div *ngIf="correo.invalid &&(correo.dirty || correo.touched)">
              <div class="text-danger">el correo es requerido</div>
            </div>
            <div *ngIf="(correo.dirty || correo.touched) && correo.invalid && correo.errors.pattern">
              <div class="text-danger">El email no es correcto</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>SELECCIONE EL ROL<label class="text-danger">*</label></label>
            <select class="form-control" formControlName="idRoles" name="idRoles"
                    [(ngModel)]="newUSer.rol.idRoles" >
              <option value="1">SUPERADMINISTRADOR</option>
              <option value="2">ADMINISTRADOR</option>
              <option value="3">USUARIO</option>
            </select>
            <div *ngIf="idRoles.invalid &&(idRoles.dirty || idRoles.touched)">
              <div class="text-danger">El rol es requerido</div>
            </div>
          </div>
            <div class="form-group col-md-6">
              <label>SELECCIONE CONTRATO<label class="text-danger">*</label></label>
              <select class="form-control" formControlName="tipocontrato" name="tipocontrato"
                      [(ngModel)]="newUSer.tipocontrato">
                <option value="1">TIEMPO COMPLETO</option>
                <option value="2">MEDIO TIEMPO</option>
                <option value="3">TIEMPO COMPLETO SIN ALMUERZO</option>
              </select>
              <div *ngIf="tipocontrato.invalid &&(tipocontrato.dirty || tipocontrato.touched)">
                <div class="text-danger">El rol es requerido</div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button *ngIf="!newUSer.nombre" type="button" class="btn btn-primary btn-fill"  data-dismiss="modal" (click)="addUser()">CREAR</button>
        <button *ngIf="newUSer.nombre" type="button" class="btn btn-primary btn-fill"  data-dismiss="modal" (click)="actualizar()">ACTUALIZAR</button>
        <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>

