<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card">
          <div class="header">
            <h4 class="title" style="text-align: center">AGREGAR NUEVOS USUARIOS</h4>
          </div>
          <div class="content">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label >ID</label>
                    <input [(ngModel)]="newUSer.idUsuarios" type="text" name="idUsuarios" class="form-control"  placeholder="ID">
                  </div>
                  <div class="form-group col-md-8">
                    <label >NOMBRES COMPLETOS</label>
                    <input [(ngModel)]="newUSer.nombre" type="text" name="nombre" class="form-control"  placeholder="SUAEREZ SANCHEZ JUAN AGUSTÏN">
                  </div>
                </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label >CÉDULA</label>
                  <input [(ngModel)]="newUSer.cedula" type="text" name="cedula" class="form-control"  placeholder="1751031442">
                </div>
                <div class="form-group col-md-8">
                  <label >EMAIL</label>
                  <input [(ngModel)]="newUSer.correo" type="email" name="correo" class="form-control"  placeholder="adf.coronel@yavirac.edu.ec">

                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label >CONTRASEÑA</label>
                  <input [(ngModel)]="newUSer.newpassword" type="password" name="newPassword" class="form-control"  placeholder="Contraseña">
                </div>
                <div class="form-group col-md-6">
                  <label >SELECCIONE EL ROL</label>
                  <select class="form-control" [(ngModel)]="newUSer.rol">
                    <option value="1">SUPERADMINISTRADOR</option>
                    <option value="2">ADMINISTRADOR</option>
                    <option value="3">USUARIO</option>
                  </select>
                </div>
                <button type="submit" (click)="addUser()" class="btn btn-info btn-fill pull-left">AGREGAR USUARIO</button>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
