<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card">
          <div class="header">
            <h4 class="title">Cambiar Contraseña</h4>
          </div>
          <div class="content">
            <form [formGroup]="configForm" (ngSubmit)="actualizarPassword()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Contraseña Actual</label>
                    <input formControlName="oldPassword" [(ngModel)]="changePass.oldPassword" type="password"
                           name="oldPassword" class="form-control" placeholder="Contraseña Actual">
                  </div>
                  <div *ngIf="oldPassword.invalid &&(oldPassword.dirty || oldPassword.touched)">
                    <div class="text-danger">La Antigua contraseña es requerida</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nueva Contraseña </label>
                    <input formControlName="newPassword" [(ngModel)]="changePass.newPassword" type="password" maxlength="15"
                           name="newPassword" class="form-control" placeholder="Nueva contraseña">
                  </div>
                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                       class="text-danger">
                    <div *ngIf="newPassword.errors?.required">
                      La contraseña es requerida
                    </div>
                    <div *ngIf="newPassword.errors?.pattern">
                      La contraseña debe tener al menos una mayúsculas y un número
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Repetir Contraseña</label>
                    <input formControlName="repPass" [(ngModel)]="repPassword" type="password" name="repPassword"
                           class="form-control" placeholder="Repetir contraseña">
                  </div>
                  <div *ngIf="repPass.invalid && (repPass.dirty || repPass.touched)"
                       class="text-danger">
                    <div *ngIf="repPass.errors?.required">
                      El campo es requerido
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit"[disabled]="configForm.invalid" (click)="actualizarPassword()" class="btn btn-info btn-fill pull-left">ACTUALIZAR
                CONTRASEÑA
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
