<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Datos de Usuario</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-2">
                  <div class="author">
                    <img (click)="fileInput.click()" class="avatar sizeImage" src="{{validarFoto()}}" width="100%"
                         height="100px"
                         alt="..."/>
                    <input hidden=true type="file" style="display: none;" #fileInput (change)="CodificarArchivo($event)"
                           accept="image/*">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label>NOMBRE</label>
                    <H4>{{usuario.nombre}}</H4>
                  </div>
                </div>
              </div>

              <!-- -->

              <div *ngIf="usuario.rol.descripcion ==='USUARIO'" class="main-content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-12">
                      <div class="card">
                        <div class="header">
                          <h4 class="title">TIMBRADAS DEL USUARIO</h4>
                        </div>
                        <div class="content">
                          <div class="row">
                            <div class="col-md-2">
                              Seleccione las paginas a mostrar
                              <select class="form-control">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                              </select>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-2">
                              <input type="search" class="form-control input-sm"
                                     placeholder="Buscar Registros"
                                     aria-controls="datatables">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="content table-responsive table-full-width">

                                <table class="table table-hover table-striped">
                                  <thead>
                                  <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr
                                    *ngFor="let item of this.tableData2.dataRows;let i = index">
                                    <ng-container>
                                      <td>{{item.idTimbradas}}</td>
                                      <td>{{item.fecha}}</td>
                                      <td>{{item.entrada}}</td>
                                      <td>{{item.almuerzo}}</td>
                                      <td>{{item.regresoAlmuerzo}}</td>
                                      <td>{{item.salida}}</td>
                                      <td>{{horasTotales}}</td>
                                      <td *ngIf="HorasTrabajadas(item,i)"></td>
                                      <td *ngIf="usuario.rol.descripcion ==='USUARIO'">
                                        <button (click)="enviarEmail()" class="btn btn-info btn-fill ">JUSTIFICAR</button>
                                      </td>
                                      <td>
                                      </td>
                                    </ng-container>
                                  </tr>
                                  </tbody>
                                </table>
                                <pagination-controls *ngIf="paginador ==='true'"
                                                     (pageChange)="pageActual = $event"></pagination-controls>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- -->
              <div *ngIf="usuario.rol.descripcion ==='ADMINISTRADOR'" class="clearfix">
                <div class="row">
                  <div class="col-md-offset-1">
                    <br>
                    <button type="button" class="btn btn-success btn-fill" data-toggle="modal" data-backdrop="false"
                            data-target="#myModal">
                      Cargar Archivo
                    </button>
                    <button type="button" class="btn btn-success btn-fill" data-toggle="modal" data-backdrop="false"
                            (click)="guardar()">
                      Guardar Datos
                    </button>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>

              <div *ngIf="usuario.rol.descripcion ==='ADMINISTRADOR'"
                   class="row">
                <div class="col-md-12">

                  <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                      <thead>
                      <tr>
                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr
                        *ngFor="let item of this.tableData1.dataRows ">
                        <ng-container>
                          <td>{{item.idTimbradas}}</td>
                          <td>{{item.usuario.nombre}}</td>
                          <td>{{item.fecha}}</td>
                          <td>{{item.entrada}}</td>
                          <td>{{item.almuerzo}}</td>
                          <td>{{item.regresoAlmuerzo}}</td>
                          <td>{{item.salida}}</td>
                          <td>
                          </td>
                        </ng-container>
                      </tr>
                      </tbody>
                    </table>
                    <pagination-controls *ngIf="paginador ==='true'"
                                         (pageChange)="pageActual = $event"></pagination-controls>
                  </div>
                  <!-- AQUI VA TODAS LAS TIMBRADAS GUARDADES EN BASE DE DATOS -->


                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" style="background-color: rgba(0,0,0,0.7);" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cargar Archivo Biometrico</h4>
      </div>
      <div class="modal-body">

        <div class="dropdown">
          <button type="button" class="btn dropdown-toggle bs-placeholder btn-default btn-block" data-toggle="dropdown"
                  role="button" title="Single Select" aria-expanded="true"><span
            class="filter-option pull-left">{{campus}}</span>&nbsp;<span
            class="bs-caret pull-right"><span class="caret"></span></span></button>
          <div class="dropdown-menu btn-block" role="combobox"
               style="max-height: 870px; overflow-y: auto; min-height: 107px;">
            <li><a (click)="valor('Seleccione un campus')">Seleccione un campus</a></li>
            <li><a (click)="valor('Yavirac')">Yavirac</a></li>
            <li><a (click)="valor('Cenepa')">Cenepa</a></li>
            <li><a (click)="valor('Colon')">Colon</a></li>
          </div>
        </div>
        <br>
        <input hidden type="file" *ngIf="campus !== 'Seleccione un campus'" name="files" class="form-control"
               #uploads (change)="onChange(uploads.files)"
               multiplec xclkvsdlk
               value="process"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-fill" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-fill" (click)="saveChange()">Save changes</button>
      </div>
    </div>
  </div>
</div>



