<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/img/yavirac.jpg');">
    <div class="wrap-login100">
      <form *ngIf="showLogin" class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="fas fa-users"></i>
					</span>
        <br>
        <span class="login100-form-title p-b-34 p-t-27">
						Iniciar Sesion
					</span>
        <br>

        <div class="col-md-6">
          <div class="wrap-input100 validate-input">
            <input [(ngModel)]="email" name="email" class="input100" type="email" placeholder="Ingrese su usuario">
            <span class="focus-input100"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wrap-input100 validate-input">
            <input disabled class="input100" placeholder="@yavirac.edu.ec">

          </div>
        </div>
        <div class="col-md-11">
          <div class="wrap-input100 validate-input">
            <input [(ngModel)]="pass" class="input100" [type]="tipoInput" name="pass" placeholder="Ingrese su password">
            <span class="focus-input100"></span>
          </div>
        </div>
        <div class="col-md-1">
          <span style="color: #fff;">
          <i *ngIf="tipoInput == 'password'" (click)="mostrarContrasena(tipoInput)"
             class="far fa-eye fa-2x arreglo"></i>
          <i *ngIf="tipoInput == 'text'" (click)="mostrarContrasena(tipoInput)"
             class="far fa-eye-slash fa-2x arreglo"></i>
            </span>
        </div>


        <div class="text-center ">
          <a class="forgotpass" [routerLink]="['/login/identity']"> ¿Olvidaste tu contraseña?</a>
        </div>
        <br>

        <div class="container-login100-form-btn">


          <button class="login100-form-btn" (click)="login()">
            Ingresar
          </button>
        </div>

      </form>
      <form [formGroup]="passForm" (ngSubmit)="updatePass()" *ngIf="!showLogin" class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="fas fa-users"></i>
					</span>
        <br>
        <span class="login100-form-title p-b-34 p-t-27">
						Actualizar Nueva Contraseña
					</span>
        <br>
        <div class="col-md-11">
          <div class="wrap-input100 validate-input">
            <input formControlName="newPassword" class="input100" name="newPassword"
                   [(ngModel)]="changePass.newPassword"  [type]="tipoInput"
                   placeholder="Ingrese su nueva contraseña">
            <br>
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                 class="alert-danger">
              <div *ngIf="newPassword.errors?.required">
                La contraseña es requerida
              </div>
              <div *ngIf="newPassword.errors?.pattern">
                La contraseña debe tener al menos una mayúsculas y un número
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <span style="color: #fff;">
          <i *ngIf="tipoInput == 'password'" (click)="mostrarContrasena(tipoInput)"
             class="far fa-eye fa-2x arreglo"></i>
          <i *ngIf="tipoInput == 'text'" (click)="mostrarContrasena(tipoInput)"
             class="far fa-eye-slash fa-2x arreglo"></i>
            </span>
        </div>
        <div class="col-md-11">
          <div class="wrap-input100 validate-input">
            <input  formControlName="repPasss" [(ngModel)]="repPass" class="input100" [type]="tipoInput" name="repPass"  maxlength="15"
                   placeholder="Repita su nueva contrasena">
            <div *ngIf="repPasss.invalid && (repPasss.dirty || repPasss.touched)"
                 class="alert-danger">
              <div *ngIf="repPasss.errors?.required">
               El campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button type="submit" [disabled]="passForm.invalid"  class="login100-form-btn" (click)="updatePass()">
            Actualizar Contraseña
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

